:root{
    --card-border: 1px solid rgba(250, 250, 250, 0.3);
}


.request-details{
    height: 200px;
    width: 100%;
}

.number-card{
    padding: 15px 20px;
    min-width: 2vw;
    min-height: calc(1vh + 69px - 1vh);
    flex-flow: column nowrap !important;
    justify-content: flex-start !important;
    
    border: var(--card-border);
    background-color: transparent;
    flex-grow: 1;
    box-shadow: var(--hard-chocolate);
    margin: 0.4%;
    align-items: center;
    align-content: center;
}


.Overview-graphs:hover, .number-card:hover{
    border: 1px ridge white;
}

.number-card-label{
    font-size: 0.69rem;
    font-style: italic;
    text-align: center;
}

  
.percent-number {
    font: 690 20px system-ui;
}

.indicator-number{
    font-size: 0.6rem;
}


article.expanding-row{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-flow: row wrap;
    align-items: stretch;
    row-gap: 6%;
    column-gap: 3px;
    align-content: center;
}

.no-data{
    width: 25vw;
    margin-top: 5vw;
}

.number-card-label{
    font-size: 0.69rem;
    font-style: italic;
    text-align: center;
}

  
.percent-number {
    font: 690 20px system-ui;
}

.indicator-number{
    font-size: 0.6rem;
}

.number-card, .Overview-graphs{
    border: var(--card-border);
    border-radius: 12px;
}

div.Overview-graphs{
    height: calc(100vh - 43vh - 69px);
    min-height: 190px;
}    

div.Overview-graphs[id^='{"index":1']{
    flex-grow: 2;
    min-width: calc(200px + 25vw);
}

article.Overview-graphs[id^='{"index":2']{
    min-width: 200px;
    max-width: 250px;
    padding: 0px 10px;
}


div.Overview-graphs[id^='{"index":3']{
    /* current airing pie */
    min-width: calc(150px + 3vw) !important;
    flex-grow: 1;
    box-sizing: border-box;
}
