
.frenzy{
    height: 35px;
}

.request-details{
    height: 200px;
}

.area-fix{
    min-height: 100px;
    margin-right: 10px;
}

.user-dash-general-lt-1{
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}

.number-card{
    padding: 15px 20px;
    min-width: 20vw;
    min-height: calc(1vh + 69px);
    flex-flow: column nowrap !important;

    justify-content: flex-start !important;
    
    border: 1px solid var(--dark-black);
    background-color: transparent;
    flex-grow: 1;
    row-gap: 2px;
    box-shadow: var(--hard-chocolate);
    margin-bottom: 1vh;
    
    align-items: center;
    align-content: center;
}

.number-card-label{
    font-size: 0.69rem;
    font-style: italic;
    text-align: center;
}

  
.percent-number {
    font: 690 20px system-ui;
}
.general-hist-user-card{    
    flex-grow: 1;
}

.general-hist-user{
    flex-grow: 2;
    height: 104px;
}

.general-pies-user{
    height: calc(100vh - 52vh - 69px);
    min-width: 150px;
}

.indicator-number{
    font-size: 0.6rem;
}


article.expanding-row{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-flow: row wrap;
    align-items: stretch;
    row-gap: 6%;
    column-gap: 3px;
    align-content: center;
}

 
.embla {
    overflow: hidden;
    /* box-shadow: var(--hard-chocolate); */
    flex-grow: 1;
    padding: 12px;
}

.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 100%;
    box-shadow: var(--bottom-lift);
    border: 1px dotted var(--dark-black);
    width: 100%;
}
  
.embla__viewport {
    overflow: hidden;
    width: 100%;
    padding: 2px;
}
  
  .embla__viewport.is-draggable {
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .embla__slide {
    position: relative;
    min-width: 100%;
    overflow: hidden;
  }